@use "../../styles/breakpoints.scss" as *;

.header {
  background-color: var(--red);
  height: 20vh;
  overflow: hidden;
  //   position: sticky;
  //   top: 0;
  //   z-index: 100;

  @include media("<tablet") {
    height: 16vh;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12vh;
  //   max-width: 1800px;
}

.backButton {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 6rem;

  svg {
    width: fit-content;
    height: 3vh;
    // color: white;
  }
}

.logo {
  flex: 1;
  display: flex;
  height: 9vh;
  width: fit-content;

  a {
    svg {
      height: 100%;
      width: auto;
    }
  }

  @include media("<tablet") {
    position: absolute;
    height: 3vh;
    top: 2rem;
    left: 1rem;
  }
}

.menu {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
  width: 100%;
  justify-content: center;

  @include media("<tablet") {
    gap: 1rem;
    margin-right: 0;
  }
}

.menuItem {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  transform-origin: center;
  transition: all 0.3s ease;

  @include media("<tablet") {
    font-size: 2.3vw;
  }

  &:hover {
    cursor: pointer;
  }
}

// Header character animation styles
.charHeader {
  :global(.char-header) {
    display: inline-block;
  }
}

.hideOnMobile {
  @include media("<tablet") {
    display: none;
  }
}
