.apparelPage {
  background: #b30016;
  background: color(display-p3 0.6431 0.0902 0.1255);
  color: #ffffff; // White text
  position: relative;
}

.header {
  position: relative;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;

  h1 {
    @apply absolute;
    bottom: 0.8rem;
    right: 0rem;
    z-index: 10;
    font-size: 5rem;
  }
}

.apparel_bgImage {
  position: absolute;
  opacity: 0.6;
  top: 0rem;
  left: 0rem;
  z-index: 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__backButton {
    cursor: pointer;
    margin-bottom: 1.2rem;
    width: 60px;

    svg {
      width: 100%;
      height: 100%;
      color: white;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__option {
    text-align: left;
    font-family: Medium;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover {
      color: #cccccc;
    }

    &_selected {
      color: rgba(255, 255, 255, 0.5);
      color: color(display-p3 1 1 1 / 0.5);

      &:hover {
        color: rgba(255, 255, 255, 0.5);
        color: color(display-p3 1 1 1 / 0.5);
      }
    }
  }
}

.productList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20vh 30px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.productCard {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


  &:nth-child(2n + 1)::after {
    content: "";
    position: absolute;
    bottom: -9vh;
    left: -50vw;
    width: 200vw;
    height: 2px;
    background: var(--darkRed);
  }

  &:nth-last-child(-n+2)::after {
    display: none;
  }

  .productImageContainer {
    position: relative;
    width: 100%;
    height: 40vh;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .productImageCloseup {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
  }

  .productImage {
    position: absolute;
    bottom: -16vh;
    height: 55vh;
    left: 3vh;
    z-index: 2;
    // max-width: 70%;
    // margin-left: -50%;
    // margin-bottom: -30%;
    object-fit: contain;
  }

  .productName {
    font-family: "Bankside";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }

  .productPrice {
    font-size: 0.9rem;
    color: #cccccc;
    text-align: right;
    font-family: "Bankside SemiEx";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
}

// Add media queries for further responsiveness if needed
// For example:
// @media (min-width: 768px) {
//   .productList {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media (min-width: 1024px) {
//   .productList {
//     grid-template-columns: repeat(3, 1fr); // Or 2 if you prefer fewer columns on larger screens
//   }
// }
