@use "../../styles/breakpoints.scss" as *;
.productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20vh 30px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;

  // Large desktop screens (1366px+)
  @include media(">=desktop") {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 90vw;
    gap: 15vh 40px;
    padding: 60px 40px;
    justify-content: center;
  }

  // Extra wide desktop screens (1920px+)
  @include media(">=LGdesktop") {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 85vw;
    gap: 12vh 50px;
    padding: 80px 60px;
    justify-content: center;
  }

  @include media("<tablet") {
    grid-template-columns: 1fr;
    gap: 0vh 0px;
    padding: 10px 10px;
  }
}

.productCard {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: inherit;
  opacity: 0;

  @include media("<tablet") {
    padding: 30px;
  }

  @include media(">tablet") {
    &:nth-child(2n + 1)::after {
      content: "";
      position: absolute;
      bottom: -9vh;
      left: -50vw;
      width: 200vw;
      height: 2px;
      background: var(--darkRed);
    }

    &:nth-last-child(-n + 2)::after {
      display: none;
    }

    // Large desktop (3 columns)
    @include media(">=desktop") {
      &:nth-child(2n + 1)::after {
        display: none; // Remove 2-column lines
      }

      &:nth-child(n + 1)::after {
        content: "";
        position: absolute;
        bottom: -7vh;
        left: -50vw;
        width: 200vw;
        height: 2px;
        background: var(--darkRed);
      }

      &:nth-child(3n + 1)::after {
        content: "";
        position: absolute;
        bottom: -7vh;
        left: -50vw;
        width: 200vw;
        height: 2px;
        background: var(--darkRed);
      }

      &:nth-last-child(-n + 3)::after {
        display: none;
      }
    }

    // Extra wide desktop (4 columns)
    @include media(">=LGdesktop") {
      &:nth-child(3n + 1)::after {
        display: none; // Remove 3-column lines
      }

      &:nth-child(4n + 1)::after {
        content: "";
        position: absolute;
        bottom: -6vh;
        left: -50vw;
        width: 200vw;
        height: 2px;
        background: var(--darkRed);
      }

       &:nth-child(n + 1)::after {
       display: none;
      }

      &:nth-last-child(-n + 4)::after {
        display: none;
      }
    }
  }

  @include media("<tablet") {
    &::after {
      content: "";
      position: absolute;
      bottom: -1vh;
      left: -50vw;
      width: 200vw;
      height: 2px;
      background: var(--darkRed);
    }

    &:nth-last-child(-n + 1)::after {
      display: none;
    }
  }

  .productImageContainer {
    position: relative;
    width: 35vw;
    height: 40vh;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    // Large desktop adjustments
    @include media(">=desktop") {
      width: 25vw;
      height: 35vh;
    }

    // Extra wide desktop adjustments
    @include media(">=LGdesktop") {
      width: 20vw;
      height: 30vh;
    }

    @include media("<tablet") {
      width: 55vw;
      height: 35vh;
      margin-bottom: 20px;
    }
  }

  .productImageCloseup {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
  }

  .productImage {
    position: absolute;
    bottom: -16vh;
    height: 55vh;
    left: 3vh;
    z-index: 2;
    object-fit: contain;

    // Large desktop adjustments
    @include media(">=desktop") {
      bottom: -12vh;
      height: 45vh;
      left: 2vh;
    }

    // Extra wide desktop adjustments
    @include media(">=LGdesktop") {
      bottom: -10vh;
      height: 40vh;
      left: 1.5vh;
    }

    @include media("<tablet") {
      left: -6vh;
    }
  }

  .productName {
    font-family: "Bankside";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    color: white;
    margin: 0;
  }

  .productPrice {
    font-size: 0.9rem;
    color: #cccccc;
    text-align: right;
    font-family: "Bankside SemiEx";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
  }
}
