.cartOpenButton {
  position: absolute;
  z-index: 20;
  top: 2rem;
  right: 2rem;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.modalPanel {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  border-left: 0.5px solid var(--white);
  background: #ffffff80;
  backdrop-filter: blur(16px);
  padding: 1.5rem;
  color: #000;
  backdrop-filter: blur(12px);

  @media (min-width: 768px) {
    width: 390px;
  }
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 1.125rem;
    font-weight: 600;
    font-family: var(--fontSecondary);
  }
}

.cartEmpty {
  margin-top: 5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h3 {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 0.95em;
    font-weight: 700;
  }

  svg {
    height: 4rem;
  }
}

.cartContent {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.25rem;
}

.cartList {
  flex-grow: 1;
  overflow: auto;
  padding: 1rem 0;
}

.cartItem {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid var(--neutral-300, #7b000840);
}

.cartItemRow {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0.25rem;
}

.deleteButton {
  position: absolute;
  z-index: 40;
  margin-left: -0.25rem;
  margin-top: -0.5rem;
}

.itemContent {
  display: flex;
  flex-direction: row;
}

.itemImage {
  position: relative;
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  border-radius: 0.275rem;
  border: 1px solid var(--neutral-300, #d1d5db);
  background: var(--neutral-300, #d1d5db);

  .dark & {
    border-color: var(--neutral-700, #374151);
    background: var(--neutral-900, #111827);

    &:hover {
      background: var(--neutral-800, #1f2937);
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.itemLink {
  z-index: 30;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.itemDetails {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 1rem;
  font-family: var(--bodyFont);

  .itemTitle {
    line-height: 1.25;
  }

  .itemVariant {
    font-size: 0.875rem;
    font-family: var(--fontAccent);
    color: var(--neutral-500, #6b7280);

    .dark & {
      color: var(--neutral-400, #9ca3af);
    }
  }
}

.itemPricing {
  display: flex;
  height: 4rem;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--bodyFont);
}

.priceDisplay {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  text-align: right;
  font-size: 0.875rem;
}

.quantityControls {
  margin-left: auto;
  display: flex;
  height: 2.25rem;
  flex-direction: row;
  align-items: center;
  //   border-radius: 9999px;
  //   border: 1px solid var(--neutral-200, #7B000840);
  background-color: #7b000840;

  clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);

  .dark & {
    border-color: var(--neutral-700, #374151);
  }

  svg {
    stroke: var(--darkRed);
  }

  p {
    width: 1.5rem;
    text-align: center;

    span {
      width: 100%;
      font-size: 0.875rem;
    }
  }
}

.cartSummary {
  padding: 1rem 0;
  font-size: 0.875rem;
  color: var(--neutral-500, #6b7280);

  .dark & {
    color: var(--neutral-400, #9ca3af);
  }
}

.summaryRow {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #7b000840;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;

  .dark & {
    border-bottom-color: var(--neutral-700, #374151);
  }

  &:first-child {
    padding-top: 0;
  }

  .summaryPrice {
    text-align: right;
    font-size: 1rem;
    color: #000;
    font-family: var(--fontSecondary);

    .dark & {
      color: #fff;
    }
  }
}

.closeCartButton {
  position: relative;
  display: flex;
  height: 2.75rem;
  width: 2.75rem;
  align-items: center;
  justify-content: center;
  //   border-radius: 0.375rem;
  //   border: 1px solid var(--darkRed);
  background-color: #7b000840;
  clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);

  color: var(--charoal);
  transition: color 0.2s;

  .dark & {
    border-color: var(--neutral-700, #374151);
    color: #fff;
  }

  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #7b000890;
  }

  svg {
    height: 1.5rem;
  }
}

.checkoutButton {
  display: block;
  width: 100%;
  //   border-radius: 9999px;
  background: #a41720c7;
  padding: 0.75rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
//   opacity: 0.9;
  transition: all 0.2s;

  &:hover {
    background: #a41720;
}

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
