@import "tailwindcss";

// Import custom fonts
@font-face {
  font-family: "Bankside";
  src: url(/fonts/BanksideSansEx_Trial_SBd.woff2) format("woff2"),
       url(/fonts/BanksideSansEx_Trial_SBd.woff) format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Bankside";
  src: url(/fonts/BanksideSansEx_Trial_Rg.woff2) format("woff2"),
       url(/fonts/BanksideSansEx_Trial_Rg.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}


@font-face {
  font-family: "Bankside SemiEx";
  src: url(/fonts/BanksideSansSemiEx_Trial_Rg.woff2) format("woff2"),
       url(/fonts/BanksideSansSemiEx_Trial_Rg.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Bankside SemiCd";
  src: url(/fonts/BanksideSansSemiCd_Trial_Rg.woff2) format("woff2"),
       url(/fonts/BanksideSansSemiCd_Trial_Rg.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}


@font-face {
  font-family: "Bankside SemiCd";
  src: url(/fonts/BanksideSansSemiCd_Trial_Lt.woff2) format("woff2"),
       url(/fonts/BanksideSansSemiCd_Trial_Lt.woff) format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Bankside SemiCd";
  src: url(/fonts/BanksideSansSemiCd_Trial_LtIt.woff2) format("woff2"),
       url(/fonts/BanksideSansSemiCd_Trial_LtIt.woff) format("woff");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: Medium;
  src: url(/fonts/Medium.woff2) format("woff2"),
       url(/fonts/Medium.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --charcoalBlack: #0a0e0c;
  --brightRed: #ff0000;
  --darkRed: #7b0008;
  --red: #a41720;
  --fontPrimary: "Bankside", sans-serif;
  --fontSecondary: "Medium", sans-serif;
  --accentFont: "Bankside SemiEx", sans-serif;
  --bodyFont: "Bankside SemiCd", sans-serif;
}

body {
  background: var(--charcoalBlack);
  background: color(display-p3 0.0392 0.0549 0.0471);
  color: var(--white);
  font-family: var(--fontSecondary), sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
