.header {
  position: relative;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  @include media("<tablet") {
    min-height: 50vh;
  }
}

.bgImage {
  position: absolute;
  opacity: 0.6;
  top: 0rem;
  left: 0rem;
  z-index: 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  position: absolute;
  bottom: 1.1rem;
  right: 0rem;
  z-index: 10;
  font-size: 5rem;
  margin: 0;
  color: white;
  text-transform: uppercase;

  @include media("<tablet") {
    font-size: 1.5rem;
    bottom: 0rem;
  }
}
