.footer {
  // padding: 2rem 1rem;
  margin-top: auto;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: end;
  overflow: hidden;

  @include media("<tablet") {
    height: 25vh;
  }
}

.footerContent {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footerLeft {
  flex: 1;
  margin-left: 2rem;
  margin-bottom: -5px;
  display: flex;
  align-items: center;

  svg {
    width: 70%;
    height: auto;
  }

  @include media("<tablet") {
    margin-left: 0.5rem;
    svg {
      width: 95%;
      height: auto;
    }
  }
}

.footerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  margin-right: 2rem;

  @include media("<tablet") {
    gap: 0.2rem;
    margin-right: 0.5rem;
  }
}

.footerLink {
  font-family: var(--fontSecondary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: right;
  transform-origin: center;
  transition: all 0.3s ease;

  @include media("<tablet") {
    font-size: 0.8rem;
  }

  &:hover {
    cursor: pointer;
  }
}
