.footer {
    // padding: 2rem 1rem;
    margin-top: auto;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: end;
    overflow: hidden;
  }
  
  .footerContent {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .footerLeft {
    flex: 1;
    margin-left: 2rem;
    margin-bottom: -5px;
    display: flex;
    align-items: center;
  
    svg {
      width: 70%;
      height: auto;
    }
  }
  
  .footerRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    margin-right: 2rem;
  }
  
  .footerLink {
    font-family: var(--fontSecondary);
    // color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    transition: color 0.1s ease;
    text-align: right;
  
    // &:hover {
    //   color: var(--white);
    //   mix-blend-mode: difference;
    // }
  }