.mediaPage {
  min-height: 100vh;
  background-color: var(--charcoalBlack);
  color: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}

.backgroundOverlay {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cameraContainer {
  flex: 1;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include media("<tablet") {
    margin-top: 40vh;
    margin-bottom: 10vh;
    // rotate: 90deg;
    display: block;
  }
}

.camera {
  position: relative;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 4/3;

  @include media("<tablet") {
    width: 100vw;
  }
}

.cameraImage {
  object-fit: contain;
  z-index: 10;
  pointer-events: none;
}

.cameraScreen {
  z-index: 2;
  background-color: #000;
  border-radius: 4px;
  width: 52%;
  height: 55%;
  padding: 4%;
  position: absolute;
  top: 31%;
  left: 6%;
  overflow: hidden;

  // Hide controls by default

  @include media(">tablet") {
    .carouselControls,
    .viewerHeader {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s;
    }

    &:hover .carouselControls,
    &:hover .viewerHeader {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.mediaGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr; // <-- Allow unlimited rows
  gap: 5px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #444 #222;

  @include media("<tablet") {
    grid-template-columns: repeat(2, 1fr);
  }
}

.mediaGrid::-webkit-scrollbar {
  width: 6px;
  background: #222;
}

.mediaGrid::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 3px;
}

.mediaItem {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 2px;
  overflow: hidden;
  height: 100px;

  @include media("<tablet") {
    height: 80px;
  }

  &:hover {
    // transform: scale(1.05);
  }
}

.thumbnailContainer {
  position: relative;
  width: 100%;
  height: 80%;
}

.thumbnail {
  object-fit: cover;
  //   border-radius: 2px;
}

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;

  svg {
    width: 12px;
    height: 12px;
  }
}

// New styles for photo folder icon
.folderIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;

  svg {
    width: 12px;
    height: 12px;
  }
}

.mediaInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  //   padding: 2px 4px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  //   background-color: red;
}

.mediaDate {
  font-family: var(--fontSecondary);
  font-size: 6px;
  font-weight: 400;
  margin-bottom: 1px;
}

.mediaTitle {
  font-family: var(--fontSecondary);
  font-size: 5px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

// Media viewer styles
.mediaViewer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //   background-color: #000;
}

.viewerHeader {
  background-color: #1a1a1a71;
  position: absolute;
  z-index: 11;
  width: 85%;
  /* border-bottom: 1px solid #333; */
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  display: flex;

  @include media("<tablet") {
    padding: 1px;
  }
}

.backButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;

  transition: background-color 0.2s;

  @include media("<tablet") {
    font-size: 5px;
    padding: 0px 4px;
  }

  &:hover {
    background-color: #333;
  }
}

.viewerTitle {
  font-family: var(--fontSecondary);
  font-size: 10px;
  color: white;
  font-weight: 500;

  @include media("<tablet") {
    font-size: 5px;
  }
}

.viewerContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 84%;
}

.viewerVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageCarousel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.carouselContainer {
  flex: 1;
  position: relative;
  width: 100%;
}

.carouselImage {
  object-fit: contain;
  @include media("<tablet") {
    object-fit: cover;
  }
}

.carouselControls {
  color: #fff;
  position: absolute;
  background-color: #000c;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  z-index: 11;
  width: 100%;
  bottom: 0;
  display: flex;

  @include media("<tablet") {
    padding: 0px;
    background-color: #1a1a1a71;
  }
}

.carouselButton {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #333;

    @include media("<tablet") {
      background-color: #3333332f;
    }
  }

  @include media("<tablet") {
    font-size: 12px;
    padding: 2px 9px;
  }
}

.imageCounter {
  font-family: var(--fontSecondary);
  font-size: 10px;
  color: white;

  @include media("<tablet") {
    font-size: 5px;
  }
}

// Modal Styles
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);

  @include media("<tablet") {
    top: 2vh;
  }
}

.modalContent {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  background-color: var(--charcoalBlack);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: var(--white);
  font-size: 30px;
  cursor: pointer;
  z-index: 1001;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.modalMediaContainer {
  position: relative;
  width: 80vw;
  height: 60vh;
  max-width: 1000px;
  max-height: 700px;
}

.modalMedia {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.modalMedia video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modalInfo {
  padding: 20px;
  background-color: var(--charcoalBlack);
  color: var(--white);
  text-align: center;

  h3 {
    font-family: var(--fontPrimary);
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--white);
  }

  p {
    font-family: var(--fontSecondary);
    font-size: 16px;
    color: var(--white);
    opacity: 0.8;
  }
}

// // Responsive Design
// @media (max-width: 768px) {
//   .cameraContainer {
//     margin: 20px 0;
//   }

//   .camera {
//     max-width: 600px;
//   }

//   .cameraScreen {
//     top: 18%;
//     left: 11%;
//     width: 42%;
//     height: 60%;
//     padding: 6px;
//   }

//   .mediaGrid {
//     gap: 2px;
//   }

//   .mediaDate {
//     font-size: 5px;
//   }

//   .mediaTitle {
//     font-size: 4px;
//   }

//   .modalMediaContainer {
//     width: 95vw;
//     height: 50vh;
//   }
// }

// @media (max-width: 480px) {
//   .backgroundOverlay {
//     padding: 10px;
//   }

//   .camera {
//     max-width: 400px;
//   }

//   .cameraScreen {
//     padding: 4px;
//   }

//   .mediaGrid {
//     gap: 1px;
//   }

//   .mediaDate {
//     font-size: 4px;
//   }

//   .mediaTitle {
//     font-size: 3px;
//   }

//   .modalMediaContainer {
//     width: 98vw;
//     height: 40vh;
//   }

//   .modalInfo {
//     padding: 15px;

//     h3 {
//       font-size: 20px;
//     }

//     p {
//       font-size: 14px;
//     }
//   }
// }

// Featured section styles
.featuredSection {
  width: 100%;
  text-align: center;
  padding: 3rem 2rem;
  margin-top: 28vh;

  @include media("<tablet") {
    padding: 2rem 1rem;
    margin-top: 10vh;
  }
}

.featuredText {
  font-family: var(--fontSecondary);
  font-size: 1rem;
  font-weight: 900;
  // letter-spacing: 0.2em;
  color: var(--red);
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;

  @include media("<tablet") {
    font-size: 0.7rem;
    line-height: 1;
    margin-bottom: 0.5rem;
  }
}

.featuredSubtext {
  font-family: var(--bodyFont);
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--white);
  opacity: 0.9;
  margin: 0;
  line-height: 1.5;
  // text-transform: uppercase;
  // letter-spacing: 0.1em;

  @include media("<tablet") {
    font-size: 0.6rem;
    // line-height: 1;
  }
}

.emailLink {
  color: var(--white);
  text-decoration: underline;
  transition: all 0.3s ease;

  &:hover {
    color: var(--brightRed);
    text-decoration: none;
  }

  &:active {
    color: var(--brightRed);
  }
}
