.productsPage {
  background: #b30016;
  background: color(display-p3 0.6431 0.0902 0.1255);
  color: #ffffff;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
